.screen-project {
  display: flex;
  z-index: 2000;
  position: fixed;
  top: 50px;
  left: 50px;
  gap: 50px;
  padding: 30px;
  width: 90vw;
  background-color: var(--background-color);
  border-radius: 12px;
  border: 1px solid var(--secondary-color);
}

.screen-project h1 {
  font-size: 35px;
}
.screen-project p {
  font-size: 15px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border-style: none;
  color: red;
}

.infos {
  width: 60%;
}
