.screen-studie {
  display: flex;
  z-index: 2000;
  position: fixed;
  top: 20px;
  left: 50px;
  gap: 50px;
  padding: 30px;
  width: 90vw;
  height: 85vh;
  background-color: var(--background-color);
  border-radius: 2px;
  border: 1px solid var(--secondary-color);
  overflow-y: scroll;
}

.screen-studie::-webkit-scrollbar {
  width: 5px;
  padding-right: 50px;
}

.screen-studie::-webkit-scrollbar-track {
  height: 80vh;
}

.studie-routes {
  margin-left: 4vw;
}

.screen-studie h1 {
  font-size: 35px;
}
.screen-studie p {
  font-size: 15px;
}

.studies-close {
  position: fixed;
  left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  border-radius: 2px;
  color: red;
  width: 45px;
  height: 45px;
}

.studies-close:hover {
  background-color: var(--secondary-color);
}

.infos {
  width: 60%;
}
