header {
  top: 0;
  position: fixed;
  z-index: 1000;
}
header img {
  height: 15vw;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.logo {
  padding: 15px;
  margin-left: 25px;
  margin-top: 25px;
  backdrop-filter: blur(8px) saturate(0%);
  -webkit-backdrop-filter: blur(8px) saturate(0%);
  background-color: rgba(17, 25, 40, 0);
  border-radius: 12px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.name {
  font-size: 2vw;
  font-weight: 700;
  color: #ff003d;
}
.circle {
  border: 80px transparent #ff003d;
  border-radius: 50%;
  height: 25vw;
  width: 25vw;
  position: absolute;
  z-index: -100;
  -webkit-box-shadow: 0px 0px 84px 4px #ff003d;
  -moz-box-shadow: 0px 0px 84px 4px #ff003d;
  box-shadow: 0px 0px 84px 4px #ff003d;
}

.background-text {
  display: flex;
  gap: 50px;
  position: absolute;
  width: 5000px;
  align-items: center;
  justify-content: center;
  z-index: -1000;
}

.background-text h1 {
  font-size: 10vw;
  font-weight: 700;
  color: rgb(104, 0, 0);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

main h2 {
  font-size: 35px;
  color: gray;
  font-weight: 200;
}
li {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

li img {
  padding: 20px;
  height: 200px;
}
ol {
  text-align: justify;
}

input {
  color: black;
}
.text-area {
  display: flex;
  flex-direction: column;
}
select {
  color: black;
}

span {
  color: black;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  width: 95%;
  color: #ffffff;
}
main section {
  margin-bottom: 50px;
  width: 65vw;
}

.first-look {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: black;
  z-index: -100;
}

.text-content {
  margin-left: 5vw;
}

main h3 {
  color: gray;
  font-weight: 300;
  margin-top: 6px;
}

figcaption {
  color: gray;
}

.section-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 180px;
  padding-inline: 15px;
  border-radius: 15px;
  transition: 0.3s;
}

.section-title:hover {
  background-color: rgb(38, 38, 38);
}

.green-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2e1fff;
}

.section-title h3 {
  font-weight: 400;
  color: #fff;
  font-size: 15px;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 45px;
}

.input-calculator {
  width: 55px;
  height: 36px;
  font-size: 20px;
  text-align: center;
  background: #d9d9d9;
  margin-right: 15px;
  border-radius: 15px;
}

.select-calculator {
  width: 55px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  background: #d9d9d9;
  margin-right: 15px;
  border-radius: 15px;
}

.result-calculator {
  width: 55px;
  height: 40px;
  font-size: 20px;
  background: #d9d9d9;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  border-radius: 15px;
}

.equal {
  color: white;
  width: 30px;
  height: 40px;
  font-size: 25px;
}

a {
  color: transparent;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#dadada, #d0d0d0);
  border-radius: 5px;
  height: 20px;
  width: 90px;
}

.github h3 {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: black;
}
