:root {
  --text-color: white;
  --text-color2: #fefaee;
  --background-color: black;
  --secondary-color: #ff003d;
}

.dark-mode:root {
  --text-color: rgb(0, 0, 0);
  --text-color2: #000000;
  --background-color: rgb(255, 255, 255);
}

header {
  top: 0;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 15vw;
}

.navbar {
  margin-right: 45px;
  display: flex;
  padding: 0.5vw;
  margin-left: 25px;
  margin-top: 25px;
  backdrop-filter: blur(6px) saturate(100%);
  -webkit-backdrop-filter: blur(6px) saturate(100%);
  border-radius: 10px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.more-text-container {
  width: 40%;
}

.more-text {
  margin-right: 50px;
}

.about-text {
  color: var(--text-color);
  font-size: 20px;
  width: 70%;
  margin-top: 120px;
}
.about {
  margin-bottom: 180px;
}
.more-text-container h2 {
  margin: 0;
}

.navbar ol a {
  font-weight: 500;
  color: var(--text-color2);
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}
.left-side-text {
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  width: 160px;
}
.navbar ol a:hover {
  background-color: var(--secondary-color);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.logo {
  padding: 15px;
  margin-left: 25px;
  margin-top: 25px;
  backdrop-filter: blur(8px) saturate(0%);
  -webkit-backdrop-filter: blur(8px) saturate(0%);
  border-radius: 12px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.name {
  font-size: calc(13px + 1vw);
  font-weight: 700;
  color: var(--secondary-color);
  font-family: Helvetica, sans-serif;
  font-style: italic;
}
.circle {
  border: 80px transparent var(--secondary-color);
  border-radius: 50%;
  height: 25vw;
  width: 25vw;
  position: absolute;
  z-index: -100;
  -webkit-box-shadow: 0px 0px 84px 4px var(--secondary-color);
  -moz-box-shadow: 0px 0px 84px 4px var(--secondary-color);
  box-shadow: 0px 0px 84px 4px var(--secondary-color);
}

.background-text {
  display: flex;
  gap: 50px;
  position: absolute;
  width: 500vw;
  align-items: center;
  justify-content: center;
  z-index: -1000;
}

.background-text h1 {
  font-size: 10vw;
  font-weight: 700;
  color: var(--text-color2);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: var(--text-color);
}

main h2 {
  font-size: 35px;
  color: gray;
  font-weight: 200;
}
section li {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

section li img {
  padding: 20px;
  height: 200px;
}
ol {
  text-align: justify;
}

input {
  color: black;
}
.text-area {
  display: flex;
  flex-direction: column;
}
select {
  color: black;
}

span {
  color: black;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  width: 95%;
  color: var(--text-color);
}
main section {
  margin-bottom: 50px;
  width: 65vw;
}

.first-look {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 110vh;
  background-color: var(--background-color);
  z-index: -100;
}

.text-content {
  margin-left: 5vw;
}

main h3 {
  color: gray;
  font-weight: 300;
  margin-top: 6px;
}

figcaption {
  color: gray;
}

.section-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 180px;
  padding-inline: 15px;
  border-radius: 15px;
  transition: 0.3s;
}

.section-title:hover {
  background-color: var(--background-color);
}

.section-title h3 {
  font-weight: 400;
  color: var(--text-color);
  font-size: 15px;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 45px;
}

.input-calculator {
  width: 55px;
  height: 36px;
  font-size: 20px;
  text-align: center;
  background: white;
  margin-right: 15px;
  border-radius: 15px;
}

.select-calculator {
  width: 55px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  background: white;
  margin-right: 15px;
  border-radius: 15px;
}

.result-calculator {
  width: 55px;
  height: 40px;
  font-size: 20px;
  background: white;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  border-radius: 15px;
}

.equal {
  color: var(--text-color);
  width: 30px;
  height: 40px;
  font-size: 25px;
}

section a {
  color: transparent;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--text-color), var(--text-color));
  border-radius: 5px;
  height: 20px;
  width: 90px;
}

.github h3 {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: var(--background-color);
}
