.project-picker-main {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  gap: 30px;
  justify-content: center;
}

.project-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
