.background {
  z-index: -1000;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/wp7569314.jpg");
  background-size: cover;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title {
  z-index: -500;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 60px;
  line-height: 116px;
  top: 130px;
  left: -100px;
  position: absolute;
  color: rgba(255, 255, 255, 0.13);

  transform: rotate(90deg);
}

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(19, 19, 19, 0.52);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 25px;
  transition: 0.3s;
  margin-top: 35vh;
}
.text-shows {
  margin-top: 0;
  line-height: 20px;
  color: #acacac;
}

.photo {
  height: 100px;
  border-radius: 50%;
}

.main-card h2 {
  font-weight: 300;
  color: #fff;
}

.yes-btn {
  color: #acacac;
  background: rgba(217, 217, 217, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  width: 81px;
  height: 39px;
  margin-top: 10px;
  margin-left: 40%;
  cursor: pointer;
  transition: 0.3s;
}

.yes-btn:hover {
  transform: scale(110%);
  background: rgba(126, 251, 42, 0.156);
}

.glow-circle {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 0px 53px 38px #ffffff;
}
